{% extends "base.html" %}

{% block content %}

<div class='container'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  border: 1px solid #ddd;
}

th, td, tr {
  text-align: center;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #800000;
  color: whitesmoke;
}
body {
       color: black; }
    a {color: black; text-decoration: none;}
    a:hover {text-decoration: none;}

</style>

<h1>Please fill out the feedback form: <a href="https://forms.gle/kmhbPMZ9Pm6ySsRX6", target="_blank">Click here</a></h1>

<h1> {{fName}} {{lName}}'s workout </h1>
<h2>Email: {{email}}</h2>


<table border="1">
    
    </tr>
        <h2>Workout 1</h2>
    </tr>

    <tr>
        <th>
            <h3>Exercise (Click name for Instructions)</h3>
        </th>
        <th>
            <h3>Exercise Type</h3>
        </th>
        <th>
            <h3>Equipment Needed</h3>
        </th>
        <th>
            <h3>Rep Range</h3>
        </th>
        <th>
            <h3>Weight Used (currently not implemented)</h3>
        </th>
        <th>
            <h3>Check once completed</h3>
        </th>

    </tr>

    <tr>
        {% set count = 0 %}

        {% for ex in wk1 %}

        <th>
            <h2><a href="{{ex[6]}}", target="_blank">{{ex[0]}}</a></h2>
        </th>
        <th>
            {{ex[1]}}
        </th>
        <th>
            {{ex[3]}}
        </th>
        <th>
            {{ex[5]}}
        </th>

        <th>

            <!--problem child-->
            <body>
                <form method="post" id="todo-form">
                      <input type="int" name="todo" id="todo" value={{ex[7]}}>
                      <button type="submit">submit</button>
                  </form>
                
                      <!--Jquery Cdn -->
                <script src="https://code.jquery.com/jquery-3.5.1.js" 
                        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
                        crossorigin="anonymous"></script>
                
                <script type="text/javascript">
                  $(document).on('submit','#todo-form',function(e)
                                 {
                    console.log('hello');
                    e.preventDefault();
                    $.ajax({
                      type:'POST',
                      url:'/submitWeight',
                      data:{
                        email: "{{ email }}",
                        workout: 1,
                        exNum:"{{ count }}",
                        todo:$("#todo").val()                      
                        
                      },
                      success:function()
                      {
                        //alert('saved');
                      }
                    })
                  });
                </script>
                
              </body>




        </th>
        <th>
            <label class="container">completed
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
        </th>
    </tr>
    {% set count = count + 1 %}
    {% endfor %}

</table>
<!-- Seperator --> 
<table border="1">
    
</tr>
    <h2>Workout 2</h2>
</tr>

<tr>
    <th>
        <h3>Exercise</h3>
    </th>
    <th>
        <h3>Exercise Type</h3>
    </th>
    <th>
        <h3>Equipment Needed</h3>
    </th>
    <th>
        <h3>Rep Range</h3>
    </th>
    <th>
        <h3>Weight Used</h3>
    </th>
    <th>
        <h3>Check once completed</h3>
    </th>
    

</tr>

<tr>
    {% for ex in wk2 %}

    <th>
        <h2><a href="{{ex[6]}}", target="_blank">{{ex[0]}}</a></h2>
    </th>
    <th>
        {{ex[1]}}
    </th>
    <th>
        {{ex[3]}}
    </th>
    <th>
        {{ex[5]}}
    </th>
    <th>



        <!--problem child-->
        <label for="weight">Weight (lbs): </label><br>
        <input type="int" id="weight" name="weight" value={{ex[7]}}><br>

        <input type="submit" value="Submit">




        
    </th>
    <th>
        <label class="container">completed
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
    </th>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}