{% extends "base.html" %}

{% block content %}

<div class='container'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  border: 5px solid black;
  background-color: whitesmoke;
}

th, td, tr {
  text-align: center;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #800000;
  color: whitesmoke;
}
body {
       color: black; }
    a {color: black; text-decoration: none;}
    a:hover {text-decoration: none;}

    .button {
      background-color: #800000;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
      transition-duration: 0.4s;

    }
    #link { color: hotpink; } /* CSS link color */

</style>

<!-- <h1 id="link">Please fill out the feedback form: <a id="link" href="https://forms.gle/kmhbPMZ9Pm6ySsRX6", target="_blank">Click here</a></h1>-->

<h1> {{fName}} {{lName}}'s workout </h1>
<h2>Email: {{email}}</h2>

<h2><a href="addWeight/{{ email }}" class="button">Press when done to enter weight used</a></h2>

<table border="1">
    
    </tr>
        <h2>Workout 1</h2>
    </tr>

    <tr>
        <th>
            <h3>Exercise (Click name for Instructions)</h3>
        </th>
        <th>
            <h3>Equipment Needed</h3>
        </th>
        <th>
            <h3>Rep Range</h3>
        </th>
        <th>
            <h3>Weight Used (Add afterwords)</h3>
        </th>
        <th>
            <h3>Check once completed</h3>
        </th>

    </tr>

    <tr>

        {% for ex in wk1 %}

        <th>
            <h2><a href="{{ex[6]}}", target="_blank">{{ex[0]}}</a></h2>
        </th>
        <th>
            {{ex[3]}}
        </th>
 
        <th>
            {{ex[5]}}
        </th>

        <th>
            {{ex[7]}}
        </th>
        <th>
            <label class="container">completed
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
        </th>
    </tr>
 
    {% endfor %}

</table>



<!-- Seperator --> 
<table border="1">
    
</tr>
    <h2>Workout 2</h2>
</tr>

<tr>
    <th>
        <h3>Exercise</h3>
    </th>
    <th>
        <h3>Equipment Needed</h3>
    </th>
    <th>
        <h3>Rep Range</h3>
    </th>
    <th>
        <h3>Weight Used</h3>
    </th>
    <th>
        <h3>Check once completed</h3>
    </th>
    

</tr>

<tr>
    {% for ex in wk2 %}

    <th>
        <h2><a href="{{ex[6]}}", target="_blank">{{ex[0]}}</a></h2>
    </th>
    <th>
        {{ex[3]}}
    </th>
    <th>
        {{ex[5]}}
    </th>
    <th>
        {{ex[7]}}
    </th>
    <th>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
    </th>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}